<div class="row">
  <div class="col">
    <form #eventForm="ngForm" (ngSubmit)="createEvent()">
      <div class="form-group">
        <label>Event Name</label>
        <input #name="ngModel" [(ngModel)]="eventName" id="eventRef" name="eventRef" placeholder="e.g., Monday basketball" type="text" class="form-control event-name" required/>
      </div>
      <div class="form-group">
        <button type="submit" class="create-event btn btn-md btn-primary" [disabled]="!eventForm.form.valid">Create Event</button>
      </div>
      <div class="form-group" *ngIf="event">
        <p><a [href]="linkValue()">Go to your event page</a> or copy it below:</p>
        <input type="text" class="form-control event-permalink" [value]="linkValue()"
               (click)="$event.target.select()"/>
      </div>
    </form>
  </div>
</div>
