<ng-container *ngIf="event$ | async as event">
  <div class="row">
    <div class="col">
      <h3 class="event-name">{{event.name}}</h3>
      <p>Are you coming?</p>
      <form>
        <div class="form-group">
          <label>Name</label>
          <input maxlength="200" (keyup)="setDisplayErrorMessage()" placeholder="e.g., John" class="form-control" type="text" [(ngModel)]="personName" name="personName"/>
        </div>
        <div class="form-group" *ngIf="displayErrorMessage">
          <div class="alert alert-warning" role="alert">
            Enter a name.
          </div>
        </div>
        <button (click)="rsvpYes()" class="btn btn-md btn-success rsvp-yes" type="button">Yes, I'm coming</button>
        &nbsp;
        <button (click)="rsvpNo()" class="btn btn-md btn-danger rsvp-no" type="button">No, I'm not</button>
      </form>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="col">
      <p>
        <app-social-share [url]="event.permalink"></app-social-share>
      </p>
      <div class="no-rsvps" *ngIf="!hasRsvps(event)">Nobody has RSVPd yet.</div>
        <p *ngIf="hasRsvps(event)">
          Here's who has RSVP'd ({{numYes() | async}} yes, {{numNo() | async}} no):
        </p>
      <table class="table">
        <tr *ngFor="let rsvp of event.rsvps;">
          <td><span class="badge {{rsvpCss(rsvp)}} badge-pill">{{rsvp.rsvp}}</span></td>
          <td>{{rsvp.name}}</td>
          <td><a *ngIf="showDeleteOption(rsvp)" (click)="deleteRsvp(rsvp, $event)" href="#"><img height="15" width="15" src="https://unpkg.com/@icon/open-iconic/icons/x.svg"  alt="Delete RSVP"/></a></td>
        </tr>
      </table>
        </div>
  </div>
    </ng-container>
<hr/>
<div class="row">
  <div class="col">
    <a routerLink="/">Create your event</a>
  </div>
</div>
